
<ul style="transform: translateX(0%);" id="nav-mobile" class="side-nav fixed">

    <li class="logo"><a id="logo-container" href="http://materializecss.com/" class="brand-logo">
            Food Grabber</a></li>
    <li class="bold"><a href="/home" class="waves-effect waves-teal">Home</a></li>
    <li class="bold"><a href="/about" class="waves-effect waves-teal">About</a></li>
    <li class="bold"><a href="/register" class="waves-effect waves-teal">SignUp</a></li>
    <li class="bold"><a href="/Members" class="waves-effect waves-teal">Members</a></li>
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Food</a>
                <div style="" class="collapsible-body">
                    <ul>
                        <li><a href="/share">Share</a></li>
                        <li><a href="/collect">Collect</a></li>
                    </ul>
                </div>
            </li>

        </ul>
    </li>
</ul>